/* common.css */

body {
   font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
   margin: 0;	
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

* {
	box-sizing: border-box;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* section */
a.hamburger{
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;

	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	
	transition: background-color .5s;
	cursor: pointer;/*鼠标变成小手*/
	



}
a.hamburger:hover{
	background-color: rgba(255, 255, 255, .3);
}
a.hamburger i{
	
	
	font-size: 20px;
	color: white;
	line-height: 60px;

}
/* nav  */
.nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	z-index: 4;/*比.ui-mask 中的高度大不被覆盖*/
	transform: translateX(-250px);
	background-color: pink;
	transition: transform .5s;

}/*两个div的位置放置顺序影响显示效果，
若顺序相反则显示不出 icon-reorder*/
.nav.show{
	transform: translateX(0);
}
.nav ul{
	margin-top: 50px;
}
.nav ul li a{
	
	font-size: 20px;
	text-align: center;
	display: block;
	padding-top: 10px;
	line-height: 40px;
	transition: background-color .5s;

}
.nav ul li a:hover{
	background-color: #253614;
}



.ui-mask {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  position: fixed;
  display: none;/*使上面所写样式失效*/
}

.ui-mask.show {
	display: block;
}
.hero {
	background-color: rgb(0, 188, 212);
}

.hero h1 {
	line-height: 160px;
	font-weight: normal;
	color: #fff;
	text-align: center;
}


.toc {
	/*border: 3px solid red;*/
	margin: 20px auto;
	max-width: 900px;/*设置第二个临界点*/

}

.toc li {
	/*border: 2px solid green;*/
	margin-bottom: 20px;
	padding: 0 10px;
}

li a {
	display: block;
	/*border: 1px solid red;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 1s ease;
    color: #212121;
}

li a:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 20px 0 rgba(0, 0, 0, 0.12);
}







.toc a .id {
	height: 96px;
	background-color: rgb(0, 188, 212);
	color: white;
	line-height: 96px;
	text-align: center;
}
.toc a .detail {
	height: 96px;
	overflow: hidden;
	padding-left: 10px;
}
@media (min-width: 600px){/*设置第一个临近点*/
	.toc a .id {
		width: 20%;
		float: left;
	}
     .toc a .detail{
     	width: 80%;
     	float: right;
     }

}

.toc a .detail .title {
	font-size: 1.3rem;
	line-height: 2.3;
}

.toc a .detail .date {
	opacity: .8;
}

footer {
	margin-top: 80px;
	height: 100px;
	background-color: #212121;
}